pipeline/pipeline_dfcount.json
{
	"name": "pipeline_dfcount",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_loaddpprofilereading_np",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "count",
					"value": {
						"value": "@string(activity('Data flow1').output.runStatus.metrics.sink1.rowsWritten)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"count": {
				"type": "String"
			}
		},
		"annotations": []
	}
}